:root {
    --primary-text-color:#434455;
    --title-text-color: #2E2F42;
    --accent-color: #404BBF;
    --pimary-white-color: #FFFFFF;
    --secondary-accent-color: #4D5AE5;
    --secondary-white-color: #F4F4FD;
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-text-color);
    background-color: var(--pimary-white-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-accent-color);
}
.header-studio {
    color: var(--title-text-color);
}

.header-link {
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.header-link:hover,
.header-link:focus,
.header-link:active {
    color: var(--accent-color);
}

.address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
}

.address:hover,
.address:focus {
    color: var(--accent-color);
}

.hero {
    background-color: var(--title-text-color);
}

.hero-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--pimary-white-color);
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--pimary-white-color);
    background: var(--secondary-accent-color);
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
   background-color: var(--accent-color);
}

.infos-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.infos-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.respons-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}

.member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.member-title {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.footer {
    background-color: var(--title-text-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-accent-color);
}
.footer-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-white-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.service-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.service-name {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.service-btn { 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--secondary-accent-color);
    background-color: var(--secondary-white-color);
    cursor: pointer;
}

.service-btn:hover,
.service-btn:focus {
    color: var(--pimary-white-color);
    background-color: var(--accent-color);
}